<img src="intro-screen.gif" width=128>
<img src="normal-skyview-screen.gif" width=128>
<img src="advanced-skyview-screen.gif" width=128>
<img src="extra-screen.gif" width=128>
<img src="gebaude.gif" width=128><br>
<img src="map-screen.gif" width=128>
<img src="compass-screen.gif" width=128><br>
<img src="menu-screen.gif" width=128>
<img src="markieren-screen.gif" width=128>
<img src="symbole.gif" width=128>
<img src="wegpunkte-screen.gif" width=128>
<img src="routen-screen.gif" width=128>
<img src="tracks-screen.gif" width=128>
<br><img src="setup-screen.gif" width=128>
<img src="setup-zeit-screen.gif" width=128>
<img src="setup-display-screen.gif" width=128>
<img src="setup-einheiten-screen.gif" width=128>
<img src="setup-interface-screen.gif" width=128>
<img src="setup-system-screen.gif" width=128><br>
<img src="wp-edit-screen.gif" width=128>
<img src="wp-karte-screen.gif" width=128>
<img src="wp-hunting-screen.gif" width=128>
<img src="wp-mond-screen.gif" width=128>
<img src="wp-projekt-screen.gif" width=128>
